<header>
    <nav>
        <div class="nav-wrapper orange">
            <a href="#"><img class="left brand-logo" src="{{site.logo_square}}" alt="{{site.title}}"></a>
            <a href="#" class="brand-logo orange hide-on-med-and-down">{{site.title}}</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
            </ul>
        </div>
    </nav>
</header>
