<header>
    <nav>
        <div class="nav-wrapper orange">
            <a href="/"><img class="left brand-logo" src="{{site.logo_square}}" alt="{{site.title}}"></a>
            <a href="/" class="brand-logo orange hide-on-med-and-down">{{site.title}}</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#about">About</a></li>
                <li><a href="#sponsors">Sponsors</a></li>
                <li><a href="#meetup">Meetup</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </div>
    </nav>
</header>
